/********** Template CSS **********/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --primary: #B4E7FA;
    --secondary: #F5D0C7;
    --light: #F4ECE1;
    --dark: #111111;
    --main-font: "Poppins", sans-serif;
}

/*** Fonts ***/
h1{
    font-family: "Poppins", sans-serif;
    font-weight: 500;
}

hr{
    height: 12px;
    background-color: var(--dark);
    width: 130px;
    clear: both;
}

ul{
    list-style: none;
    text-decoration: none; 
    color: black; 
}

h2{
    font-family: "Poppins", sans-serif;
    font-weight: 200;
}



/*** Section header ***/

.section-header {
    position: relative;
    padding-top: 25px;
}


.section-header::before {
    position: absolute;
    content: "";
    width: 60px;
    height: 2px;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    background: var(--primary);
}



.section-header::after {
    position: absolute;
    content: "";
    width: 90px;
    height: 2px;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    background: var(--secondary);

}

.section-header.text-start::before,
.section-header.text-start::after {
    left: 0;
    transform: translateX(0);
}

.header-nav {
    color: #c9c9c9;
    background: #000;
    border-bottom: solid 1px #cfcfcf;
    padding-top: 0.4285714286rem;
    font-size: 0.8571428571rem;
    height: 2rem;
}

.header-right{
    flex: 50%;
}

.header-left{
    flex: 50%;
}

@media (max-width: 700px){
    .header-right{
        flex: 50%;
    }
    
    .header-left{
        flex: 50%;
    }
}

#header-nav-links li{
    display: inline;
    text-decoration: none;
    color: white;
}

#header-nav-links li a{
    display: inline;
    text-decoration: none; 
    color: grey;
}


#header-nav-links li span{
    display: inline;
    text-decoration: none; 
    color: grey;
    margin-right: 2px;
    margin-left: 2px;
}

#nav-principal{
    font-family: var(--main-font);
    font-weight: bold;
}

#nav-links-theme .nav-link:hover{
    color: var(--dark);
    font: bold;
}



@media (min-width: 791px){
    .nav-link {
        position: relative;
        display: inline-block;
        padding-bottom: 5px;
        transition: color 0.3s ease; 
    }
    
    .nav-link::after {
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        width: 0;
        height: 2px;
        background-color: black;
        transition: width 0.3s ease;
    }
    
    .nav-link:hover::after {
        width: 100%; 
    }
    
    .nav-link.active::after {
        width: 100%; 
    }
}


#navbar-principal-toggler {
    border: none;
    padding: 0; 
    margin-right: 2rem;
    margin-left: 2rem;
}




#navbar-principal .navbar-brand img{
    width: 130px; 
    height: 110px;

}

#navbar-principal .navbar-brand{
    overflow: hidden;
}


.shopping-kart {
    position: relative;
    display: flex;
    align-items: center;
    margin-right: 22px;
}

.shopping-kart-icon {
    position: relative;
    display: inline-block;
    width: 33px; 
    height: 33px;
}

.shopping-kart img {
    width: 100%; 
    height: auto;
}

.kart-badge {
    position: absolute;
    top: -5px; /* Ajusta la posición vertical */
    right: -5px; /* Ajusta la posición horizontal */
    background-color: blue;
    color: white;
    width: 18px;
    height: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    border-radius: 50%;
    border: 2px solid white; /* Opcional: agrega un borde blanco */
}



/* Carousel */


.carousel-inner img{
    height: 600px;
}




/*** Tipos de productos ***/

.section-title h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px; 
    font-size: 24px; 
    font-weight: bold;
}

.section-title h1 b {
    display: inline-block;
    width: 100px; 
    height: 2px; 
    background-color: black; 
}

.section-title h1 b:first-of-type {
    margin-right: 10px; 
}

.section-title h1 b:last-of-type {
    margin-left: 10px; 
}


.card h1{
    margin: 30px;
}

.card {
    overflow: hidden; 
    border-radius: 5px; 
    position: relative;
}

.card-catalog{
    overflow: hidden; 
    border: none; 
    border-radius: 5px; 
}

.category-container img {
    transition: transform 0.6s ease-in-out, content 0.6s ease-in-out; 
    width: 100%;
    height: auto;
}

.category-container img:hover {
    transform: scale(1.05);
    content: url('');
}

.category-container .card img {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    width: 100%;
    height: auto;
    box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.3); 
}

.card img:hover {
    transform: scale(1.05); 
    transition-duration: 1s;
}



.col-auto {
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: auto;
    max-width: 100%;
    float: left;
}

.main{
    box-sizing: border-box;
}

#footer{
    width: 100%;
}


/*** About us section ***/

.about{
    background-color: var(--light);
}


/*** Section Footer ***/

.section-footer{
    box-sizing: border-box;
    padding: 20px;
    color: white;
}

.footer-column{
    
}