/********** Template CSS **********/

:root {
    --primary: #B4E7FA;
    --secondary: #F5D0C7;
    --third: #FFA549;
    --forth: #020034;
    --light: #F4ECE1;
    --dark: #111111;
    --main-font: "Poppins", sans-serif;
    --second-font: "Send Flowers", cursive;
    --border-line: linear-gradient(to right, #F5D0C7, #B4E7FA);
    --thir-font: "Lora", serif;
}

main {
    overflow: hidden;
}

/*** Fonts ***/
h1 {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
}



ul {
    list-style: none;
    text-decoration: none;
    color: black;
}

h2 {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
}

p {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
}

span {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
}

a {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    text-decoration: none;
}


/*** Section header ***/



.header-nav {
    color: #c9c9c9;
    background: #000;
    border-bottom: solid 1px #cfcfcf;
    padding-top: 0.4285714286rem;
    font-size: 0.8571428571rem;
    height: 2rem;
}

.header-nav .header-right {
    flex: 50%;
    display: flex;
    gap: 10px;
    list-style: none;
    padding: 0;
    margin: 0;
}

.header-nav .header-right .header-img-socials {
    width: 15px;
    height: auto;
    transition: transform 0.3s ease;
    filter: invert(1) brightness(1.5);
    ;
    cursor: pointer;
}

.header-left {
    flex: 50%;
}

@media (max-width: 700px) {
    .header-right {
        flex: 1;
    }

    .header-left {
        flex: 1;
    }
}

#header-nav-links li {
    display: inline;
    text-decoration: none;
}

#header-nav-links li a {
    display: inline;
    text-decoration: none;
    color: grey;
}

#header-nav-links li a:hover {
    display: inline;
    text-decoration: none;
    color: white
}


#header-nav-links li span {
    display: inline;
    text-decoration: none;
    color: grey;
    margin-right: 2px;
    margin-left: 2px;
}

#nav-principal {
    font-family: var(--main-font);
    font-weight: bold;
}

#nav-links-theme .nav-link:hover {
    color: var(--dark);
    font: bold;
}



@media (min-width: 791px) {
    .nav-item {
        position: relative;
        display: inline-block;
        padding-bottom: 5px;
        transition: color 0.3s ease;
    }

    .nav-item::after {
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        width: 0;
        height: 2px;
        background-color: black;
        transition: width 0.3s ease;
    }

    .nav-item:hover::after {
        width: 100%;
    }

    .nav-item.active::after {
        width: 100%;
    }

    .navbar-nav .dropdown:hover .dropdown-menu {
        display: block;
        opacity: 1;
        /* Asegura que sea visible */
        visibility: visible;
    }

    .navbar-nav .dropdown .dropdown-menu {
        display: none;
        opacity: 0;
        visibility: hidden;
        /* Evita interacción accidental */
        transition: opacity 0.3s ease, visibility 0.3s ease;
    }

    .navbar-nav .dropdown:hover>.nav-link {
        font-weight: bold;
    }

}

/* Estilo para la barra de búsqueda */
.search-bar {
    position: relative;
    display: flex;
    align-items: center;
    border: 1px solid black;
    /* Bordes negros */
    border-radius: 50px;
    /* Bordes redondeados */
    background-color: white;
    /* Fondo blanco */
    padding: 5px 10px;
}

/* Estilo del campo de entrada */
.search-bar input {
    border: none;
    /* Sin bordes adicionales */
    outline: none;
    /* Sin borde al hacer clic */
    border-radius: 50px;
    /* Redondea el input */
    padding: 5px 10px;
    flex: 1;
    /* Ocupa el espacio disponible */
    font-size: 14px;
}

/* Estilo del botón de buscar */
.search-bar .btn-search {
    background: none;
    /* Sin fondo */
    border: none;
    /* Sin bordes */
    color: black;
    /* Ícono negro */
    font-size: 16px;
    /* Tamaño del ícono */
    cursor: pointer;
    /* Cambia a puntero */
    padding: 5px;
}

/* Cambios al hacer hover en el botón */
.search-bar .btn-search:hover {
    color: var(--primary);
    /* Cambia el color al hacer hover */
}

#navbar-principal-toggler {
    border: none;
    padding: 0;
    margin-right: 2rem;
    margin-left: 2rem;
}




#navbar-principal .navbar-brand img {
    width: 130px;
    height: 110px;

}




.shopping-kart {
    position: relative;
    display: flex;
    align-items: center;
    margin-right: 22px;
}

.shopping-kart-icon {
    position: relative;
    display: inline-block;
    width: 33px;
    height: 33px;
}

.shopping-kart img {
    width: 100%;
    height: auto;
}

.kart-badge {
    position: absolute;
    top: -5px;
    right: -5px;
    background-color: blue;
    color: white;
    width: 18px;
    height: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    border-radius: 50%;
    border: 2px solid white;
}



/******* Carousel *********/


.carousel-inner img {
    max-height: 800px;
}

.carousel-buttons {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 20px;
    z-index: 10;
}

.carousel-buttons .btn {
    background-color: var(--primary);
    color: var(--dark);
    padding: 10px 20px;
    font-size: 18px;
    font-weight: bold;
}

@media (max-width: 780px) {
    .carousel-buttons {
        display: none;
    }

    .carousel-inner img {
        height: 380px;
    }
}

/*** Tipos de productos y seccion de catalogo ***/

.section-title h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-size: 24px;
    font-weight: bold;
}

.section-title h1 b {
    display: inline-block;
    width: 100px;
    height: 2px;
    background-color: black;
}

.section-title h1 b:first-of-type {
    margin-right: 10px;
}

.section-title h1 b:last-of-type {
    margin-left: 10px;
}


.card h1 {
    margin: 30px;
}

/*************** Seccion de catalogo ***************/





.card-catalog .card {
    overflow: hidden;
    border-radius: 5px;
    position: relative;
    transition: transform 0.3s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-catalog .card:hover {
    transform: translateY(-5px);
}

/* Imagen y overlay */
.card-catalog .card-image {
    position: relative;
    overflow: hidden;
}

.card-catalog .card-image img {
    width: 100%;
    height: auto;
    display: block;
    transition: opacity 0.3s ease; 
}

.card-catalog .card-image .second-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0; 
    transition: opacity 0.3s ease;
}

.card-catalog .card:hover .main-image {
    opacity: 0; 
}

.card-catalog .card:hover .second-image {
    opacity: 1; 
}

.card-catalog.single-image .main-image {
    opacity: 1 !important; 
}

.card-catalog.single-image .second-image {
    display: none; 
}

.card-catalog .card-image .card-overlay {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%) translateY(100%);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 5px;
    width: 100px;
    background: rgba(255, 255, 255, 0.3);
    color: var(--dark);
    border-radius: 5px;
    opacity: 0;
    transition: opacity 0.3s ease, transform 0.3s ease;
}

.card:hover .card-overlay {
    background-color: white;
    opacity: 1;
    transform: translateX(-50%) translateY(0);
}

.card-catalog .card-image .card-overlay i {
    font-size: 1.5rem;
    cursor: pointer;
}

.card-catalog .card-image .card-overlay i:hover+.tooltip {
    opacity: 1;
    transform: translateY(0);
}

.card-catalog .card-image .card-overlay i+.tooltip {
    bottom: 100%;
    left: 50%;
    transform: translate(-50%, -10px);
}

.card-catalog .card-image .card-overlay div {
    position: relative;
    display: inline-block;
    margin: 0 10px;
}

.card-catalog .card-image .card-overlay div .tooltip {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 0.8rem;
    pointer-events: none;
    z-index: 10;
    opacity: 0;
    transform: translateY(10px);
    /* Posición inicial para efecto */
    transition: opacity 0.2s ease, transform 0.2s ease;
}


.card-body {
    text-align: center;
    padding: 15px;
}

.card-body .card-description {
    cursor: pointer;
    color: grey;
}

.card-body .card-description:hover {
    color: black;
}

.card-title {
    font-size: 1.25rem;
    margin-bottom: 10px;
}

.card-description {
    font-size: 0.9rem;
    color: #555;
    margin-bottom: 10px;
}

.card-price {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 15px;
}

.card-catalog .card-body .btn {
    font-size: 0.9rem;
    font-weight: bold;
    padding: 10px 20px;
    background-color: white;
    color: var(--third);
    border: 2px solid var(--third);
    border-radius: 5px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.card-catalog .card-body .btn:hover {
    background-color: var(--third);
    color: white;
    border-color: var(--third);
}


.card {
    overflow: hidden;
    border-radius: 5px;
    position: relative;
}

.line-decoration {
    width: 300px;
    height: 10px;
    background-color: var(--primary);
    margin: 0 auto 20px;
    position: relative;
    left: 0px;
    border-radius: 2px;
}

.card-catalog {
    overflow: hidden;
    border: none;
    border-radius: 5px;
}

.category-container img {
    transition: transform 0.6s ease-in-out, content 0.6s ease-in-out;
    width: 100%;
    height: auto;
}

.category-container img:hover {
    transform: scale(1.05);
    transition-duration: 1s;
    content: url('');
}

.category-container .card img {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    width: 100%;
    height: auto;
    box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.3);
}

.card img:hover {
    transform: scale(1.05);
    transition-duration: 1.3s;
}




.btn-see-more {
    background-color: black;
    color: white;
    border: none;
    padding: 10px 40px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.see-more-section {
    padding: 50px;
}


.btn-see-more:hover {
    box-shadow: 0 0 10px var(--primary), 0 0 20px var(--primary);
}

.btn-see-more:active {
    box-shadow: 0 0 30px var(--primary), 0 0 50px var(--primary);
    transform: scale(0.98);
}

.col-auto {
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: auto;
    max-width: 100%;
    float: left;
}






/*** About us section ***/

#about-us-homepage {
    background-color: var(--light);
    border-radius: 10px;
}

#about-us-homepage-image {
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-see-about {
    background-color: black;
    color: white;
    border: none;
    padding: 10px 40px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.btn-see-about:hover {
    box-shadow: 0 0 10px var(--primary), 0 0 20px var(--primary);
}

.btn-see-about:active {
    box-shadow: 0 0 30px var(--primary), 0 0 50px var(--primary);
    transform: scale(0.98);
}


#about-us-section-info {
    border: solid 2px lightgray;
    padding: 40px;
    height: 100%;
    width: 100%;
}

#about-us-section-info h2 {
    text-align: left;
    margin-bottom: 15px;
    color: black;
}

#about-us-section-info p {
    color: darkgreen;
}

/* ----------------PAGINA DE SOBRE NOSOTROS ------------------------ */

.header-with-lines {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin: 20px 0;
    text-align: center;
}

.header-with-lines h2 {
    font-size: 24px;
    font-weight: bold;
    color: #333;
    margin: 0;
}

.header-with-lines .line {
    flex: 1;
    height: 3px;
    background: linear-gradient(to right, #ff5733, #33c1ff);
    /* Gradient color */
}


#content-about {
    box-sizing: border-box;
    margin-top: 0;
    width: 100%;
    padding: 45px;
    display: flex;
    background-image:url("/assets/img/bluemountains.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#content-about h1 {
    font-family: var(--second-font);
    font-size: 50px;
    font: bold;
    color: white;
    margin-bottom: 50px;
    margin-top: 23px;
}

.content-about-elements {
    background-color: rgba(105, 105, 105, 0.7);
    border-radius: 10px;
}

@media (max-width: 700px) {
    #content-about {
        background-image: none;
        background-color: var(--primary);
        padding: 0;
    }
    .content-about-elements{
        width: 100%;
        border-radius: none;
    }
}


#about-info {
    opacity: 0.8;
    border-radius: 8px;
    font-family: "Poppins", sans-serif;
}

#about-info h1,
#about-info h2 {
    color: var(--primary)
}

.about-info-img {
    padding: 40px;
    text-align: center;
}

.about-info-img img {
    width: 88%;
    height: auto;
    border: solid black 10px;
}

.about-info-text {
    font-family: var(--main-font);
    padding: 60px;
    justify-content: center;
    align-items: center;
}

.about-info-text h2 {
    color: var(--primary);
    text-align: center;
    margin-bottom: 10px;
}

.about-info-text p {
    color: var(--third);
    font-weight: 500;
    font-size: 19px;
}

.about-info-video {
    justify-content: center;
    align-items: center;
    background-color: var(--third);
    border-radius: 10px;
    border: solid var(--light) 5px;
    padding: 20px;
}

.about-info-video video {
    width: 85%;
    height: auto;
    border-radius: 10px;
}



.fundadores {
    gap: 40px;
}

.founder {
    text-align: center;
    margin-bottom: 20px;
    background: #343a40;
    position: relative;
    overflow: hidden;
}

.founder img {
    width: 100%;
    /* La imagen ocupa todo el ancho del contenedor */
    height: auto;
    /* Mantiene la proporción de la imagen */
    display: block;
}

.founder-info {
    position: absolute;
    left: 0;
    right: 0;
    bottom: -35px;
    transition: bottom 0.4s;
}


.founder:hover .founder-info {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0.8) 20%, rgba(0, 212, 255, 0) 100%);
    opacity: 1;
    bottom: 0;
    transition: bottom 0.4s;
}



@media (max-width: 700px) {
    #about-info-video-container {
        align-items: center;
        background-color: var(--third);
        width: 100%;
        border: none;
    }

    .about-info-video {
        border: none;
    }

    .about-info-video video {
        width: 20rem;
        height: auto;
        border-radius: 10px;
    }
}

#location {
    background-color: var(--forth);
    color: var(--primary);
}

#location .location-text {
    padding: 70px;
    text-align: left;
    margin-top: 20px;
}

#location .location-text p{
    color: var(--light);
}

#location .location-text h2{
    font-family: var(--thir-font);
}

.line{
    width: 100px;
    height: 3px;
    background-color: var(--light);
    margin: 10px 0 20px;
}

.info-item {
    display: flex;
    align-items: center;
    margin-bottom: 20px; 
}

.icon-circle {
    width: 50px;
    height: 50px;
    background-color: var(--primary); 
    color: var(--forth);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    margin-right: 15px; 
}

.icon-circle .bi{
    font-size: 24px; 
}

.info-text {
    font-size: 16px;
    color: #000; 
    margin: 0;
}

.location-container {
    border-left: solid var(--primary);
    align-items: center;
    height: 100%;
}

#route-info {
    align-items: center;
    padding: 20px 50px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    opacity: 0; 
    transition: opacity 0.5s ease-in-out;
}

.route-item {
    display: flex;
    align-items: center;
}

.route-icon {
    width: 40px;
    height: 40px;
    background-color: var(--primary);
    color: var(--forth);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    margin-right: 15px;
}

.route-text {
    font-family: var(--main-font);
    font-size: 16px;
    color: var(--light)
}

.route-info {
    font-family: var(--main-font);
    text-align: center;
}

#map {
    height: 300px;
    width: 100%;
}

@media (max-width: 700px) {
    #map {
        height: 250;
        width: 100%;
    }
}

/*** -----------------------------------------
-------------------Section CATALOG----------------
------------------------------------------------*/

#catalog-body {
    margin: 0 auto;
    padding: 20px;
}


#catalog-body h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

/* Sección de filtros */
.filter-section {
    border-right: 1px solid #ccc;
    padding: 15px;
    position: sticky; /* Hace que el filtro se mantenga visible */
    top: 0; /* Se pega en la parte superior */
    height: fit-content; /* Asegura que la altura sea solo la necesaria para su contenido */
    background-color: #fff; /* Fondo para que sea claro y no se mezcle con el contenido */
    z-index: 10; /* Se asegura de que esté por encima de otros elementos si es necesario */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Opcional: sombra para destacar */
}

/* Estilos adicionales para los filtros */
.filter {
    margin-bottom: 20px;
}

.filter h3 {
    margin-bottom: 10px;
}

.filter input[type="range"] {
    width: 100%;
}

/* Productos */
.product-grid {
    padding-left: 15px;
}

.product-item {
    margin-bottom: 20px;
}

.product-card {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    padding: 15px;
    border-radius: 5px;
    text-align: center;
}



/***-----------
------------ Section Footer ----------
------------------***/

#footer {
    width: 100%;
    font-family: "Poppins", sans-serif;
}

.section-footer {
    box-sizing: border-box;
    padding: 20px;
    color: white;
}

.footer-column {
    font-family: "Poppins", sans-serif;
}

.footer-column a {
    font-family: "Poppins", sans-serif;
    text-decoration: none;
    color: var(--primary);
}

.footer-column a:hover {
    font-weight: bold;
}

.section-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.section-footer-socials ul,
.section-footer-payments ul {
    display: flex;
    gap: 10px;
    list-style: none;
    padding: 0;
    margin: 0;
}

.img-footer-payment {
    width: 50px;
    height: auto;
    background-color: white;
}


.footer-img-socials {
    width: 30px;
    height: auto;
    transition: transform 0.3s ease;
    filter: invert(1) brightness(1.5);
    ;
    cursor: pointer;
}


.section-footer-socials h6 {
    white-space: nowrap;
    margin-right: 15px;
}

.section-footer-payments {
    flex: 1;
    text-align: right;
}

.footer-column .quick-link {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: white;
    margin-bottom: 8px;
    font-size: 16px;
    transition: all 0.3s ease-in-out;
}

.footer-column .quick-link i {
    margin-right: 8px;
    transition: transform 0.3s ease-in-out;
}

.footer-column .quick-link:hover {
    font-weight: bold;
    color: #f8f9fa;
}

.footer-column .quick-link:hover i {
    transform: translateX(5px);
}

.back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    background-color: #007bff;
    color: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s, visibility 0.3s;
    z-index: 1000;
}

/* Mostrar el botón */
.back-to-top.show {
    opacity: 1;
    visibility: visible;
}

/* Efecto hover */
.back-to-top:hover {
    background-color: #0056b3;
}

.got-top-container {
    position: fixed;
    bottom: 4rem;
    right: 4rem;
    width: 6.6rem;
    height: 6.6rem;
    z-index: -10;
}

.go-top-button {
    width: 0rem;
    height: 0rem;
    background: var(--primary);
    border-radius: 50%;
    cursor: pointer;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -10;
    transition: .2s;
}

.go-top-button i {
    position: absolute;
    font-size: 1.7rem;
    top: 48%;
    left: 50%;
    transform: translate(-50%, 50%) scale(0);
    color: white;
    transition: .2s;
}

.show {
    z-index: 10;
}

.show .go-top-button {
    animation: popu .3s ease-in-out;
    width: 6.6rem;
    height: 6.6rem;
    z-index: 11;
}

.show i {
    transform: translate(-50%, -50%) scale(1);
}

@keyframes popup {
    0% {
        width: 0rem;
        height: 0rem;
    }

    50% {
        width: 8rem;
        height: 8rem;
    }

    100% {
        width: 6.6rem;
        height: 6.6rem;
    }
}